body {
  font-family: "Tahoma", "Verdana", serif;
  color: darkslategrey;
  background-color: floralwhite;
  padding-left: 5%;
  padding-right: 5%;
}
h1 {
  color: darkcyan;
  font-size: 2.5rem;
  text-align: center;
  vertical-align: middle;
}
h2 {
  text-decoration: underline;
}
nav {
  background-color: darkslategrey;
  font-size: 1.25rem;
  text-align: left;
  outline-style: solid;
  outline-width: 5px;
  outline-color: white;
}
nav a:link {
  color: white;
  text-decoration: none;
}
nav a:visited {
  color: white;
}
a:visited {
  color: darkslategrey;
  text-decoration: none;
}
a:hover {
  color: royalblue;
  text-decoration: none;
}
a:link {
  color: darkslategrey;
  text-decoration: underline;
}
nav li {
  display: inline;
}
img {
  width: 200px;
  height: auto;
  opacity: 0.4;
}
nav {
  padding-top: .05%;
  padding-bottom: .05% ;
}
img:hover {
  opacity: 1.0;
}
